<h1 class="account-title">My Account</h1>

<%- messages() %>

    <div class="account-container">

        <!-- USER INFO -->
        <div class="card">
            <h2>Welcome <%= accountData.account_firstname %>
            </h2>

            <a class="btn" href="/account/update/<%= accountData.account_id %>">
                Update Account Information
            </a>
        </div>

        <% if (accountData.account_type==="Employee" || accountData.account_type==="Admin" ) { %>

            <!-- INVENTORY -->
            <div class="card">
                <h3>Inventory Management</h3>

                <div class="card-links">
                    
                    <a href="/inv/add-inventory" class="card-btn">Add New Vehicle</a>
                    <a href="/inv/add-classification" class="card-btn">Add New Classification</a>
                    <a href="/inv/bulk-upload" class="card-btn">Bulk Upload</a>
                    <a href="/inv/dashboard" class="card-btn">View Inventory Dashboard</a>
                    
                </div>
            </div>

            <% } %>

    </div>