<h1>My Account</h1>

<%- messages() %>

    <% if (accountData.account_type==="Employee" || accountData.account_type==="Admin" ) { %>
        <h2>Welcome <%= accountData.account_firstname %>
        </h2>
        <% } %>

    <!-- 🔹 Link para actualizar cuenta (TODOS lo ven) -->
    <p>
        <a href="/account/update/<%= accountData.account_id %>">
            Update Account Information
        </a>
    </p>

    <!-- 🔥 SOLO Employee o Admin -->
    <% if (accountData.account_type==="Employee" || accountData.account_type==="Admin" ) { %>

        <h3>Inventory Management</h3>

        <p>
            <a href="/inv/">Manage Inventory</a>
        </p>

        <% } %>