<h1>
    <%= title %>
</h1>

<%- messages() %>
    <% if (errors) { %>
    <ul>
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>
    <form action="/account/register" method="POST" novalidate>        
        <label>First Name:</label>
        <input type="text" name="account_firstname" required>

        <label>Last Name:</label>
        <input type="text" name="account_lastname" required>

        <label>Email:</label>
        <input type="email" name="account_email" required>

        <label>Password:</label>
        <input type="password" name="account_password" required>

        <button type="submit">Register</button>
    </form>

    <p>
        Already have an account?
        <a href="/account/login">Login here</a>
    </p>
