<nav id="navMotors">
    <ul class="ulMotorsNav">
        <li><a href="/">Home</a></li>
        <li><a href="/inv/classification/1">Custom</a></li>
        <li><a href="/inv/classification/2">Sport</a></li>
        <li><a href="/inv/classification/3">SUV</a></li>
        <li><a href="/inv/classification/4">Truck</a></li>
        <li><a href="/inv/classification/5">Sedan</a></li>
        
        
    </ul>
</nav>