<nav id="navMotors">
    <ul class="ulMotorsNav">
        <li><a href="#">Home</a></li>
        <li><a href="/custom">Custom</a></li>
        <li><a href="/sedan">Sedan</a></li>
        <li><a href="#">SUV</a></li>
        <li><a href="#">Truck</a></li>
    </ul>
</nav>