<main>

    <h1>Welcome to CSE Motors!</h1>

    <section class="hero">

        <div class="hero-info">
            <h2>DMC Delorean</h2>

            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice</li>
            </ul>

            <a class="btn" href="#">Own Today</a>
        </div>

        <div class="hero-img">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean">
        </div>

    </section>

    <section class="content">

        <div class="reviews">
            <h2>DMC Delorean Reviews</h2>

            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>

        </div>

        <div class="upgrades">

            <h2>Delorean Upgrades</h2>

            <div class="upgrade-grid">

                <div class="upgrade">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" width="80px">
                    <p>Flux Capacitor</p>
                </div>

                <div class="upgrade">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Thrower" width="80px">
                    <p>Flame Thrower</p>
                </div>

                <div class="upgrade">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper" width="80px">
                    <p>Bumper</p>
                </div>

                <div class="upgrade">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" width="80px">
                    <p>Hub Caps</p>
                </div>

            </div>

        </div>

    </section>

</main>