<h1>
    <%= title %>
</h1>

<%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form action="/inv/add-classification" method="POST" class="form-container">
                <label>Classification Name:</label>
                <input type="text" name="classification_name" required pattern="^[A-Za-z0-9]+$"
                    value="<%= typeof classification_name != 'undefined' ? classification_name : '' %>">
                <p>No spaces or special characters allowed</p>

                <button type="submit">Add Classification</button>
            </form>